.title{
    font-size: 20px;
}


@media (max-width:720px){
    .Product-title{
        font-size: 18px;
    }
}
@media (max-width:360px){
    .Product-title{
        font-size: 15px;
    }
    .Product-category{
        font-size: 14px;
    }
}